<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        a
        {
            text-decoration: none;
            font-size: larger;
            color: black;
            background-color: #88eb47;
        }
        .action
        {
            display: flex;
            justify-content: space-around;
            margin-top: 20px;
            background-color: #89ddf7;
        }
    </style>
</head>
<body>
    <h3>action:</h3>
    <div class="action">
        <a href="/login">login</a>
        <a href="/profile">Profile</a>
        <a href="/protect">Protected Page</a>
    </div>
</body>
</html>