<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROFILE</title>
</head>
<body>
    <h1>Welcome `<%req.user.displayName%>`</h1>
    <h4>What do you want to do?</h4>
    <div>
        <a href="/auth/logout">Logout</a>
        <a href="/index">Back to main page</a>
    </div>
</body>
</html>